@import url(./colors.css);

.ChatListContainer {
    width: 100vw;
    min-height: 20vh;
    margin: 0 auto;

    background-color: var(--secondary);
    border-radius: 0.2rem;

    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;

    .container{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

        width: 100vw;
        .LogoutButton {
            max-height: 2rem;
            width: 5rem;
        }

        h1 {
            justify-self: center;
        }
    }

    .ChatList {
        margin: 0 auto;
        font-size: 1.25rem;
        list-style:decimal;
        li {
            margin-bottom: 0.25rem;
            a {
                color: var(--text);
                text-decoration: none;
            }
        }
    }
}