@import url(./colors.css);

body {
    background-color: var(--background);
    color: var(--text);
}

.ChatListContainer {
    width: 70%;
    min-height: 30vh;
    margin: 0 auto;

    background-color: var(--accent);
    border-radius: 0.2rem;

    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;

    .ChatList {
        font-size: 1.25rem;
        list-style:decimal;
        li {
            margin-bottom: 0.25rem;
            a {
                color: var(--text);
                text-decoration: none;
            }
        }
    }
}