@import url(./colors.css);

.LoginContainer {
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary);

    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    justify-content: center;
    align-items: start;
    text-align: center;

    .info {
        h1 {
            font-size: 3rem;
        }
        p {
            font-size: 1.5rem;
        }
    }

    .inputContainer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        .inputs,
        .buttons {
            width: 100%;
            display: flex;
            gap: 0.3rem;

            input {
                background-color: var(--background);
                border-color: var(--accent);
                border-radius: 0.2rem;
                color: var(--text);
            }
        }

        .inputs {
            flex-direction: column;
        }

        .buttons {
            justify-content: right;
            button {
                border-radius: 0.2rem;
                border: 0px;
                max-height: 2rem;
            }
            :nth-child(1) {
                border-color: var(--secondary);
                background-color: #009094;
            }
            :nth-child(2) {
                border-color: var(--primary);
                background-color: #F0B196;
            }
        }
    }
}
